h1 {
  font-size: 60px;
  letter-spacing: 1px;
  padding-top: 100px;
  margin-left: 100px;
  color:#333484;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 55px;
}

h2 {
  font-size: 30px;
  margin-left: 100px;
  text-transform: uppercase;
  color:#333484;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  max-width: auto;
  border-top: .1em #333484 solid;
  padding-right: .9em;
  margin-top: 100px;
}

h3 {
  font-size: 20px;
  margin-left: 100px;
  padding-bottom: 10px;
  max-width: 500px;
  color:#333484;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
}

h4 {
  font-size: 20px;
  margin-left: 100px;
  padding-left: .9em;
  font-family: 'Spinnaker', sans-serif;
  text-transform: uppercase;
  color:#333484;
  text-align: left;
  max-width: 500px;
  margin-top: 200px;
  margin-bottom: 100px;
}

h5 {
  font-size: 15px;
  margin-left: 100px;
  margin-top:-30px;
  padding-bottom: 10px;
  max-width: 500px;
  color:#333484;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  }

img {
  margin-left: 100px;
  width: 300px;
  height: auto;
  display: block;
  padding-top: 50px;
}

.border img {
  border: .05em #333484 solid;
  padding: 0em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 15px;
  padding-bottom: 15px;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.full-column.row-1 {
  background:linear-gradient(#c6dcff, #f6ffbf, white);
  height: 300px;
}

.full-column.row-2 {
  background:linear-gradient(white, #f6ffbf, #c6dcff);
  height: 300px;
  margin-top: 50px;
}

.resize {
  width: 500px;
  height: auto;
  display: block;
  padding-top: 25px;
  padding-bottom: 20px;
}
